body {
  background-color: whitesmoke;
}

.raq-header {
  margin-top: 80px;
}

h1{
  font-size: 55px;
  color: indianred;
}

.quoteStyle {
  color: rgb(13, 13, 78);
  background-color: white;
  min-height: 300px;
  border-radius: 20px;
}

.quoteStyleText {
  font-size: 30px;
  font-weight: 500;
  font-style: italic;
  width: 75%;
  min-height: 150px;
  margin: 0 auto;
  padding-top: 10%;
  padding-bottom: 10%
}

.bottom-character {
  text-align: right;
}

.rightCornerLinqs {
  position: fixed;
  bottom: 0px;
  right: 5px;
  color: gray;
  font-style: italic;
}

.raq-button {
  min-width: 50%;
  min-height: 75px;
  margin-bottom: 50px;
}